:root{
    --standar-width: 100%;
    --minimum-width: 320px;
    --primary-color: #FCFCFF;
    --secondary-color: #A30B37;
    --third-color: #BD6B73;
    --fourth-color: #BBB6DF;
    --fifth-color: #C6C8EE;
}

#header .navbar-brand img{
    width: 150px;
    filter: invert(11%) sepia(51%) saturate(6003%) hue-rotate(331deg) brightness(106%) contrast(101%);
}

#header .navbar-nav .special-item{
    color: #c05775;
}

#header .navbar-nav .special-item:hover{
    color: #d67e97;
}

#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;

}

#carousel .overlay button{
    background-color: #b31f49;
    border-color: transparent;
}

#carousel .overlay button:hover{
    background-color: var(--secondary-color);
}

#about .container{
    border-bottom: 1px solid var(--fifth-color);
}

#community .container-fluid{
    background-color: #343a40;
}

#community .container-fluid img{
    object-fit: cover;
    width: 100%;
}

#community .container-fluid .com-text{
    color:white;
}

#trainers .badge{
    padding: 5px;
    color: white;
}

#trainers img{
    max-height: 25vh;
    object-fit: cover;
    height: 500px;
}

#footer{
    background: linear-gradient(to right,var(--secondary-color),var(--third-color));
}

#footer a{
    color:black;
}

.modal .form-group{
    width: 100%;
}

.modal .btn-primary{
    background-color: #b31f49;
    border-color: transparent;
}

.modal .btn-primary:focus{
    box-shadow: 0 0 0 0.2rem #c93962;
}

.modal .btn-primary:active {
    background-color: #b31f49;
}